<style>
div.cpw-ctrl-ak-main-procedure div.header select
{
	width:80%;
}
div.cpw-ctrl-ak-main-procedure div.header
{
	margin-bottom: 5px;
}
</style>
<div class="cpw-ctrl-ak-main-procedure">

	<div class="header">
		<select>
			<option>Н, Севастопольский ликёроводочный завод</option>
			<option>КП, Рога и копыта</option>
		</select> 
		<button class="properties"><span>Параметры</span></button>
	</div>

	<div id="cpw-ctrl-ak-main-procedure-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-1">Запросы</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-2">Отчёт</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-3">Анализ</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-4">Кредиторы</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-5">Финансы</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-6">Имущество</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-7">Делопроизводство</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-tab-8">Витрина</a></li>
		</ul>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-1">
			<% if (0) { %>Запросы в контролирующие органы. <% } %>
			<%= obj.fields_control('Запросы') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-2">
			<% if (0) { %>Отчёт АУ. <% } %>
			<%= obj.fields_control('Отчёт') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-3">
			<% if (0) { %>Анализ финансового состояния должника. <% } %>
			<%= obj.fields_control('Анализ') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-4">
			<% if (0) { %>Реестр кредиторов. <% } %>
			<%= obj.fields_control('Кредиторы') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-5">
			<% if (0) { %>Денежные операции. <% } %>
			<%= obj.fields_control('Финансы') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-6">
			<% if (0) { %>Имущество (конкурсная масса). <% } %>
			<%= obj.fields_control('Имущество') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-7">
			<% if (0) { %>Делопроизводство. <% } %>
			<%= obj.fields_control('Делопроизводство') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-tab-8">
			<% if (0) { %>Витрина. <% } %>
			<%= obj.fields_control('Витрина') %>
		</div>
	</div>

</div>
