<style>
div.cpw-ctrl-ak-requests > div.header
{
	border-bottom: 1px solid gray;
	padding-bottom:10px;
}
div.cpw-ctrl-ak-requests > div.header div.edit-open
{
	display:inline-block;
	float:right;
}
div.cpw-ctrl-ak-requests div.request
{
	width:69%;
	display:inline-block;
	vertical-align:top;
}
div.cpw-ctrl-ak-requests div.list
{
	width:29%;
	max-width:350px;
	display:inline-block;
	border-right: 1px solid gray;
	max-height:350px;
	overflow-y:scroll;
}
div.cpw-ctrl-ak-requests div.list div.li 
{
	border-bottom: 1px solid gray;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	cursor:pointer;
}
div.cpw-ctrl-ak-requests div.list div.li:hover
{
	background-color: #eeeeee;
}
div.cpw-ctrl-ak-requests div.list div.li.selected
{
	background-color: #007fff;
	color: white;
}
div.cpw-ctrl-ak-requests div.list div.li.selected a
{
	color: white;
}
div.cpw-ctrl-ak-requests div.list div.li div.state
{
	display:inline-block;
	float:right;
}
div.cpw-ctrl-ak-requests div.list div.li div.addressee
{
	margin-left:30px;
}
div.cpw-ctrl-ak-requests div.doc-header
{
	padding:10px;
}
div.cpw-ctrl-ak-requests div.doc-header label
{
	font-size:small;
}
div.cpw-ctrl-ak-requests div.doc-header div.controls
{
	float:right;
	display:inline-block;
}
div.cpw-ctrl-ak-requests div.preview
{
	width:100%;
	background-color:#eeeeee;
	padding: 10px;
	min-height:300px;
	max-height:300px;
	overflow-y:scroll;
}
div.cpw-ctrl-ak-requests div.preview div.content
{
	background-color: white;
	width:21cm;
	margin:10px auto;
	padding:1cm;
}
</style>
<%

var запросы= [
	{
		  Наименование: "Запрос в ИФНС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ГИМС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в БТИ"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ГИБДД"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ПФ"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ФСС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ИФНС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ИФНС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ИФНС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ИФНС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
	,{
		  Наименование: "Запрос в ИФНС"
		, Корреспондент: "Филиал г. Ижевск"
		, Состояние: "не хватает данных"
	}
];

%>
<div class="cpw-ctrl-ak-requests">

	<div class="header">

		<label>
			<input type="checkbox" /> 
			Выделить всё 
		</label>

		<button class="print">Печатать</button> 
		<button class="envelopes"><span>Конверты</span></button> 

		Отметить 
		<button class="state">Распечатано</button> 

		<div class="edit-open">
			<button class="edit">Редактировать</button> 
			<button class="download">Открыть</button> 
		</div>

	</div>

	<div class="list">

		<%	for (var i= 0; i < запросы.length; i++)
			{
				var запрос= запросы[i];
		%>
		<div class="li <%= 0!=i ? '' : 'selected' %>">
			<div class="state">
				<a href="#null">[не хватает данных]</a>
			</div>
			<label>
				<input type="checkbox" /> 
				<%= запрос.Наименование %>
				<% if (0) { %>Запрос в ИФНС<% } %>
			</label>
			<div class="addressee">
				<a href="#null">Филиал г. Ижевск</a>
			</div>
		</div>
		<% } %>

	</div>

	<div class="request">

		<div class="doc-header">
			<b>Запрос в ИФНС</b>
			<div class="controls">
				<label> 
					<input type="checkbox" /> 
					Выделять поля цветом 
				</label>
				<label>
					<input type="checkbox" /> 
					Приложить определение 
				</label>
				<label>
					<input type="checkbox" /> 
					Вставить ярлык полномочий 
				</label>
			</div>
		</div>

		<div class="preview">
			<div class="content">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>

	</div>

</div>