<style>
	div.cpw-collection div.item 
	{
		border: 1px solid black; 
		padding: 2px;
		display: inline-block;
		margin: 2px;
	}
</style>
<div class="cpw-collection">
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<div <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
		<div <%= obj.item_attrs() %> class="item">
			<%= obj.text_field('') %>
				<% if (obj.is_seed()) { %>Иванов<% } %>
			<%= obj.text_field_end() %>
		</div>
		<% } %>
	</div>
</div>