<style>
div.cpw-ctrl-ak-report div.buttons
{
	width:29%;
	display:inline-block;
	vertical-align:top;
}
div.cpw-ctrl-ak-report div.buttons div.navigation
{
	max-height:320px;
	max-width:310px;
	overflow-y:scroll;
	margin:5px;
	border:1px solid gray;
	padding:5px;
}
div.cpw-ctrl-ak-report div.buttons div.navigation > div
{
	padding:2px;
	cursor:pointer;
	font-size:small;
}
div.cpw-ctrl-ak-report div.buttons div.navigation > div.l1{padding-left:10px}
div.cpw-ctrl-ak-report div.buttons div.navigation > div.l2{padding-left:20px}
div.cpw-ctrl-ak-report div.buttons div.navigation > div:hover
{
	background-color: #eeeeee;
}
div.cpw-ctrl-ak-report div.buttons div.navigation button
{
	margin-left:10px;
	padding:2px;
	float:right;
	border-radius:8px;
}
div.cpw-ctrl-ak-report div.preview
{
	display:inline-block;
	width:68%;
	background-color:#eeeeee;
	padding: 10px;
	min-height:300px;
	max-height:350px;
	overflow-y:scroll;
}
div.cpw-ctrl-ak-report div.preview div.content
{
	background-color: white;
	width:21cm;
	margin:10px auto;
	padding:1cm;
}
</style>
<div class="cpw-ctrl-ak-report">

	<div class="buttons">
		<button class="print">Печатать</button>
		<button class="download">Загрузить</button>
		<div class="navigation">
<div class="l0">начало</div>
<div class="l1">  об АУ<button></button></div>
<div class="l2">    о привлечённых<button></button></div>
<div class="l2">    о жалобах<button></button></div>
<div class="l2">    о правах и обязанностях<button></button></div>
<div class="l1">  о конкурсной массе<button></button></div>
<div class="l2">    об инвентаризации<button></button></div>
<div class="l2">    об оценке<button></button></div>
<div class="l2">   о реализации<button></button></div>
<div class="l2">   о поступлениях<button></button></div>
<div class="l2">   о предъявлении 3м лицам<button></button></div>
<div class="l2">   меры по сорхранности<button></button></div>
<div class="l1">  о реестре<button></button></div>
<div class="l2">    о рестродержателе<button></button></div>
<div class="l2">    формирование реестра<button></button></div>
<div class="l2">    о размере ТК<button></button></div>
<div class="l1">  о работниках<button></button></div>
<div class="l1">  о закрытии счетов<button></button></div>
<div class="l1">  о расходах<button></button></div>
<div class="l1">  о субсидиарке<button></button></div>
<div class="l1">  иные сведения<button></button></div>
<div class="l1">  о текущих обязательствах<button></button></div>
<div class="l0">конец</div>
		</div>
	</div>

	<div class="preview">
		<div class="content">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit 
					esse cillum dolore eu fugiat nulla pariatur. Excepteur 
					sint occaecat cupidatat non proident, sunt in culpa qui 
					officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>