<style>
</style>
<div class="cpw-ctrl-ak-main-procedure-properties">

	<div id="cpw-ctrl-ak-main-procedure-properties-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-properties-tab-1">Общие</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-properties-tab-2">Дополнительно</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-procedure-properties-tab-3">Меры</a></li>
		</ul>
		<div id="cpw-cpw-ctrl-ak-main-procedure-properties-tab-1">
			<% if (0) { %>Общие реквизиты. <% } %>
			<%= obj.fields_control('Общие') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-properties-tab-2">
			<% if (0) { %>Дополнительные реквизиты. <% } %>
			<%= obj.fields_control('Дополнительно') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-procedure-properties-tab-3">
			<% if (0) { %>Меры по сохранности имущества. <% } %>
			<%= obj.fields_control('Меры') %>
		</div>
	</div>

</div>
