<style>
div.cpw-ctrl-ak-main
{
	margin:5px;
}
div.cpw-ctrl-ak-main > div.header h1
{
	width:50%;
	display:inline-block;
}
div.cpw-ctrl-ak-main > div.header img
{
	margin-top:10px;
	margin-right:10px;
	vertical-align:top;
}
</style>
<div class="cpw-ctrl-ak-main">

	<div class="header">
		<img src="img/logo.png?2" /> 
		<h1>Арбитражный комбайн</h1> 
		<button class="register">Зарегистрировать</button> 
		<button class="account">АУ Иванов И И</button>
	</div>

	<div id="cpw-ctrl-ak-main-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-cpw-ctrl-ak-main-tab-1">Процедура</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-tab-2">Все процедуры</a></li>
			<li><a href="#cpw-cpw-ctrl-ak-main-tab-3">Фронт работ</a></li>
		</ul>
		<div id="cpw-cpw-ctrl-ak-main-tab-1">
			<% if (0) { %>Работа с выбранной процедурой. <% } %>
			<%= obj.fields_control('Процедура') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-tab-2">
			<% if (0) { %>Сводное представление всех активных процедур. <% } %>
			<%= obj.fields_control('Все_процедуры') %>
		</div>
		<div id="cpw-cpw-ctrl-ak-main-tab-3">
			<% if (0) { %>Фронт работ по всем процедурам. <% } %>
			<%= obj.fields_control('Фронт_работ') %>
		</div>
	</div>

</div>