<style>
div.cpw-ctrl-ak-map
{
	width:1000px;
	margin:0 auto;
}
div.cpw-ctrl-ak-map div.buttons
{
	margin-bottom:5px;
}
</style>
<div class="cpw-ctrl-ak-map">

	<div class="buttons">
		<button class="print">Печатать</button>
	</div>

	<table id="cpw-ctrl-ak-map-grid" class="grid"></table>
	<div id="cpw-ctrl-ak-map-grid-pager"></div>

</div>