<style>
div.cpw-collection td { padding: 3px 10px; }
div.cpw-collection tr.collection-item:hover
{
	background-color: #eeeeee;
	cursor: pointer;
}
div.cpw-collection textarea
,div.cpw-collection select
,div.cpw-collection input
{
	width: 170px;
	height: 37px;
}
div.cpw-collection button.do_add { margin-left: 90px; }
</style>
<div class="cpw-collection">
	<button class="do_add">Добавить запись об ученике</button>
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<table <%= obj.not_empty_attrs() %> >
		<tr>
			<td>№</td>
			<td>ученик</td>
			<td>алгебра</td>
			<td>пение</td>
			<td></td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %>>
			<td>
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>)
			</td>
			<td>
				<textarea <%= obj.textarea_attrs('Ученик') %> ><%= obj.value() %></textarea>
			</td>
			<td>
				<input type="text" value="<%= obj.txt('Оценки.алгебра') %>" <%= obj.date_attrs() %> />
			</td>
			<td>
				<select <%= obj.select_attrs('Оценки.пение') %> >
					<option <%= obj.option_attrs('') %> ></option>
					<option <%= obj.option_attrs('1') %> >1</option>
					<option <%= obj.option_attrs('2') %> >2</option>
					<option <%= obj.option_attrs('3') %> >3</option>
					<option <%= obj.option_attrs('4') %> >4</option>
					<option <%= obj.option_attrs('5') %> >5</option>
				</select>
			</td>
			<td>
				<a href="#" class="do_delete">удалить</a>
			</td>
		</tr>
		<% } %>
	</table>
</div>
<%
var on_add= function(e)
{
	var fc_dom_item= $(obj.selector);
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	if (!model)
		model= [];
	model.push({});
	obj.fastening.set_fc_model_value(fc_dom_item, model);
	$(obj.selector).trigger('model_change');
};
var on_delete= function(e)
{
	var i_item= parseInt(obj.h_fastening_clip.get_parent_fc_of_type($(this),'array-item').attr('array-index'));
	var fc_dom_item= $(obj.fastening.selector);
	var model= obj.fastening.get_fc_model_value(fc_dom_item);
	var item= model[i_item];
	var btnOk= 'Да, удалить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Подтверждение удаления записи №' + (i_item+1)
		, html: 'Вы действительно хотите удалить запись №' + (i_item+1) + '<br/> об ученике <b>' + item.Ученик + '</b>?'
		, width:380, height:180
		, buttons:[btnOk, 'Нет, не удалять']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				model.splice(i_item,1);
				obj.fastening.set_fc_model_value(fc_dom_item, model);
				$(obj.selector).trigger('model_change');
			}
		}
	});
	return false;
};
obj.on_after_render= function()
{
	var sel= obj.selector;
	$(sel + ' .do_add').click(on_add);
	$(sel + ' .do_delete').click(on_delete);
};
obj.on_after_update_dom= function()
{
	var sel= obj.selector;
	var do_delete_items= $(sel + ' .do_delete');
	do_delete_items.off('click',on_delete);
	do_delete_items.click(on_delete);
};
%>