<style>
div.cpw-ctrl-ak-todo
{
	width:500px;
	margin:0 auto;
}
div.cpw-ctrl-ak-todo a
,div.cpw-ctrl-ak-todo a:visited
{
	color:red;
}
</style>
<div class="cpw-ctrl-ak-todo">

	<p>Этот функционал в настоящее время ещё не реализован.</p>
	<p>
		Если он вам очень нужен, рекомендуем преобрести программу
	</p>
	<p style="text-align:center">
		<a target="_blank" href="https://russianit.ru/products/pau/">"Помощник арбитражного управляющего"</a>
	</p>

</div>